.inputWrapper {
    display: inline-block;
    width: 100%;
    max-width: 345px;
    margin: 0;
}

.inputWrapper_icon {
    position: relative;
}

.inputWrapper_icon::after {
    content: '';
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    background-position: 50% 50%;
}

.inputWrapper_accept::after {
    width: 12px;
    height: 10px;
    background-image: url('img/iconCheckedGreen.svg');
}

.inputWrapper_passwordShow::after,
.inputWrapper_passwordHidden::after {
    width: 18px;
    height: 16px;
}

.inputWrapper_passwordShow::after {
    background-image: url('img/iconShow.svg');
}

.inputWrapper_passwordHidden::after {
    background-image: url('img/iconHide.svg');
}

.inputWrapper__input {
    display: block;
    width: 100%;
    padding: 14px 16px;
    border-radius: 12px;
    font-size: 13px;
    color: #1D1D1F;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    transition: all .3s;
    outline: none;
}

.inputWrapper__input:focus {
    border-color: #595959;
}

.inputWrapper__input::placeholder {
    color: #959595;
}

.inputWrapper__input_disabled,
.inputWrapper__input:disabled {
    color: #BCBCBC;
    background-color: #CCCCCC;
}


.inputWrapper__input_accept,
.inputWrapper__input_accept:focus {
    border-color: #0B9632;
}

.inputWrapper__input_error,
.inputWrapper__input_error:focus {
    border-color: #FF5547;
}

/* textarea */

.textarea {
    max-width: 345px;
    display: block;
    width: 100%;
    padding: 12px 16px 70px 16px;
    border-radius: 12px;
    font-size: 13px;
    color: #1D1D1F;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    transition: all .3s;
    outline: none;
    resize: none;
}

.textarea:focus {
    border-color: #595959;
}



/* checkbox */

.checkboxInputWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 0;
    cursor: pointer;
}

.checkboxInputWrapper__icon {
    position: relative;
    width: 20px;
    height: 20px;
}

.checkboxInputWrapper__icon::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    transition: all .3s;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><rect x="0.5" y="0.5" width="19" height="19" rx="1.5" fill="%23F5F5F5" stroke="%23D9D9D9"/></svg>');
}

.checkboxInputWrapper__input:checked+.checkboxInputWrapper__icon::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><rect width="20" height="20" rx="2" fill="%23414141"/><path d="M4 10L9.14286 15L16 5" stroke="white" stroke-width="1.5" stroke-linecap="round"/></svg>');
}

.checkboxInputWrapper__input:disabled+.checkboxInputWrapper__icon::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><rect width="20" height="20" rx="2" fill="%238B8B8B"/></svg>');
}

.checkboxInputWrapper__input {
    opacity: 0;
}

/* mainBtn */

.mainBtn {
    width: 100%;
    max-width: 345px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    background: linear-gradient(95deg, #FBAF79 0%, #FF8B15 100%), #282152;
    transition: all .3s;
    border: none;
    border-radius: 12px;
}

.mainBtn_short {
    max-width: 135px;
}


.mainBtn:focus {
    outline: none;
}

.mainBtn:hover {
    background: linear-gradient(95deg, #FF8C38 0%, #FFC489 100%);
}

.mainBtn:active {
    background: linear-gradient(95deg, #FF9243 0%, #F90 100%);

}

.mainBtn:disabled {
    background: #D6D6D6;
}

/* underlineLink */

.underlineLink {
    color: #142E8B;
    text-decoration: none;
    transition: all .3s;
}

.underlineLink_lkCard {
    font-size: 12px;
}

.underlineLink:hover .underlineLink__span::before {
    background-color: #0056b3;
}

.underlineLink:hover {
    text-decoration: none;
}

.underlineLink__span {
    position: relative;
}

.underlineLink__span::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #142E8B;
    transition: all .3s;

}

/* switchers */

.switchers {
    width: 100%;
    max-width: 345px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px;
    border-radius: 12px;
    border: 1px solid #DCDCDC;
}

.switchers__item {
    padding: 10px;
    border-radius: 12px;
    border: none;
    flex-basis: 50%;
    font-size: 15px;
    font-weight: 500;
    color: #959595;
    transition: all .3s;
    border: none;
}

.switchers__item:focus {
    outline: none;
}

.switchers__item:hover {
    color: #414141;
}

.switchers__item_active {
    font-weight: 600;
    color: #fff;
    background-color: #414141;
}

.switchers__item_active:hover {
    color: #fff;
}

/* stepsTimeLine */

.stepsTimeLine {
    max-width: 365px;
    height: 40px;
    display: flex;
    align-items: flex-start;
    gap: 4px;
    width: 100%;
}

.stepsTimeLine__item {
    flex-shrink: 0;
    position: relative;
    width: 14px;
    text-align: center;
}

.stepsTimeLine__span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.stepsTimeLine__dev {
    flex-basis: 100%;
    background-color: #EAEAEA;
    height: 1px;
    border-radius: 1px;
    margin-top: 7px;
}

.stepsTimeLine__dev_next {
    background-color: #BFBFBF;
}

.stepsTimeLine__dev_done {
    background-color: #00B11D;
}

.stepsTimeLine__dot {
    position: relative;
    white-space: nowrap;
    padding-top: 22px;
}

.stepsTimeLine__dot::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #EAEAEA;
}

.stepsTimeLine__dot_done::before {
    background-color: #00B11D;
}

.stepsTimeLine__dot_active::before {
    background-color: #54E46B;
}

.stepsTimeLine__dot_next::before {
    background-color: #BFBFBF;
}

/* stepsTimeLineCol */

.stepsTimeLineCol {
    position: relative;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
}


.stepsTimeLineCol__item {
    display: flex;
    align-items: flex-start;
}

.stepsTimeLineCol__item:not(:first-child) {
    margin-top: 12px;
}

.stepsTimeLineCol__dot {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ccc;
    border: 2px solid #fff;
    margin-top: 4px;
}

.stepsTimeLineCol__text {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.stepsTimeLineCol__stepName {
    font-size: 13px;
    font-weight: 600;
}

.stepsTimeLineCol__stepDate {
    font-size: 12px;
    color: #8A8A8A;
}

.stepsTimeLineCol__dot_done {
    background-color: #06AD17;
}

.stepsTimeLineCol__dot_next {
    background-color: #BCFF7B;
}

/* closeBtn */

.closeBtn {
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: auto;
    border: none;
    background-color: transparent;
}

.closeBtn:focus {
    outline: none;
}

.closeBtn::before,
.closeBtn::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: #b1b1b1;
    left: 50%;
    border-radius: 2px;
    transition: all .3s;
}

.closeBtn:focus::before,
.closeBtn:focus::after,
.closeBtn:hover::before,
.closeBtn:hover::after {
    background-color: #b1b1b1bb;
}

.closeBtn::before {
    transform: rotate(-45deg) translateX(-50%);
    top: 0;
}

.closeBtn::after {
    transform: rotate(45deg) translateX(-50%);
    top: 13px;
    right: 1px;
}

/* signIn */

.signIn {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background-color: #fff;
    border-radius: 12px;
    padding: 24px 44px;
}

.signIn__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.signIn__body {
    margin-top: 24px;
}

.signIn__form {
    margin-top: 20px;
}

.signIn__form_m0 {
    margin: 0;
}


.signIn__h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.signIn__phoneImg {
    display: block;
    margin: 0 auto;
}


.signIn__stepsTimeLine {
    margin-top: 20px;
}


/* form */

.form__item {
    margin-top: 12px;
}

.form__item_taCenter {
    text-align: center;
}

.form__h4 {
    color: #1D1D1F;
    margin-top: 20px;
}

.form__h4_fz14 {
    font-size: 14px;
}

.form__h4_orange {
    background: linear-gradient(90.49deg, #FBAF79 0.42%, #FF8B15 100.98%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
}

.form__p {
    color: #959595;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 0;
}

.form__p_fzUp {
    font-size: 16px;
}

.form__p_center {
    text-align: center;
}

.form__item_dfRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.form__item_btn {
    margin-top: 24px;
    display: grid;
    gap: 12px;
}

.form__item_btnEnd {
    display: flex;
    justify-content: flex-end;
}

.form__codeSendTo {
    color: #1D1D1F;
    font-size: 16px;
    font-weight: 400;
}

/* secondBtn */

.secondBtn {
    display: block;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
    border: none;
    background-color: transparent;
}

.secondBtn:hover {
    color: #0056b3;
}

/* backBtn */

.backBtn {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all .3s;
}

.backBtn__svg {
    transition: all .3s;
}

.backBtn:hover .backBtn__svg {
    transform: translateX(-4px);
}


/* customSelect */

.customSelect {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}

.customSelect:hover {
    border: 1px solid #EAEAEA;
}

.customSelect_active {
    border: 1px solid #ACACAC;
}

.customSelect__span {
    display: block;
    padding-right: 14px;
    position: relative;
    user-select: none;
    background: linear-gradient(90.49deg, #FBAF79 0.42%, #FF8B15 100.98%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
}

.customSelect__span::before,
.customSelect__span::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 2px;
    top: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #737373;
    transition: all .3s;
}

.customSelect:hover .customSelect__span::before,
.customSelect:hover .customSelect__span::after {
    background-color: #494949;
}

.customSelect__span::before {
    transform: translateY(-50%) rotate(-45deg);
    right: 1px;
}

.customSelect__span::after {
    transform: translateY(-50%) rotate(45deg);
    right: 5px;
}

.customSelect_active .customSelect__span::before,
.customSelect_active .customSelect__span::after {
    background-color: #494949;
}

.customSelect_active .customSelect__span::before {
    transform: translateY(-50%) rotate(45deg);
}

.customSelect_active .customSelect__span::after {
    transform: translateY(-50%) rotate(-45deg);
}


/* lkCard */
.lkCard {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 385px;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid var(--stroke, #EAEAEA);
    background: #FFF;
}


.lkCard__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lkCard__h4 {
    color: var(--new-collors-titles-and-subtitles, #151515);
    font-size: 18px;
}

.lkCard__name {
    color: var(--new-collors-titles-and-subtitles, #151515);
    font-size: 14px;
    font-weight: 500;
}

.lkCard__personalData {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
}

.lkCard__personalDataSpan {
    max-width: 160px;
    word-wrap: break-word;
    font-size: 13px;
    color: var(--new-collors-body, #5F5F5F);
}

.lkCard__spanGrey {
    color: #7D7D7D;
    font-size: 12px;
}

.lkCard__balanceSum {
    color: #FF0036;
    font-weight: 600;
    font-size: 15px;
}

.lkCard__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}


.lkCard__tip {
    flex-basis: calc(50% - 6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid var(--stroke, #EAEAEA);
    text-align: center;
    font-size: 13px;
}

.lkCard__tip_single {
    flex-basis: 100%;
}

.lkCard__tip_bonuce {
    border: none;
    background-color: #DEFFE7;
}

.lkCardTip__tipSum {
    font-weight: 600;
}

.lkCardTip__tipSum_green {
    color: #03A44D;
}

.lkCardTip__tipSum_blue {
    color: #5969BD;
}

.lkCardTip__tipSum_red {
    color: #FD1640;
}

/* lkCardLink */

.lkCardLink {
    display: block;
    width: 100%;
    max-width: 300px;
    padding: 20px;
    border-radius: 12px;
    text-decoration: none;
    transition: all .3s;

}

.lkCardLink:hover {
    box-shadow: 0px 0px 20px 0px rgba(86, 89, 101, 0.10);
    text-decoration: none;
}

.lkCardLink__name {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--new-collors-titles-and-subtitles, #151515);
    font-weight: 600;
    font-size: 14px;
}

.lkCardLink__p {
    color: #757575;
    font-size: 13px;
    margin-top: 15px;
}

@media(max-width:767px) {
    .lkCardLink {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid var(--stroke, #EAEAEA);
        border-radius: 0;
        padding-right: 20px;
    }

    .lkCardLink::after {
        content: '';
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 18px;
        height: 12px;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none"><path d="M1 1L7 7L1 13" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');

    }

    .lkCardLink__p {
        display: none;
    }
}

/* discountPopup */

.discountPopup {
    width: 100%;
    max-width: 380px;
    padding: 30px 20px;
    border-radius: 10px;
    background: var(--new-collors-primary-dark, #3A3A3A);
    box-shadow: 8px 20px 25px 0px rgba(34, 39, 84, 0.12);
}

.discountPopup__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.discountPopup__h3 {
    color: #fff;
    font-size: 18px;
}

/* pcQr */

.pcQr {
    display: flex;
    align-items: center;
    gap: 12px;
}

.pcQr__code {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    color: #000;
    padding: 0 16px;
    border: 1px solid #000;
    border-radius: 8px;
}

.pcQr__span {
    background: linear-gradient(90.49deg, #FBAF79 0.42%, #FF8B15 100.98%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    font-size: 14px;
    font-weight: 600;
}

.mobQr {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 8px 12px;
    border-radius: 10px;
    background: var(--new-collors-primary-dark, #3A3A3A);
    box-shadow: 0px 0px 10px 0px rgba(27, 29, 53, 0.12);
    max-width: 425px;
    color: #D1D1D1;
    font-size: 13px;
}

.mobQr__item:last-child {
    max-width: 200px;
}

.mobQr__code {
    font-weight: 500;
    color: #fff;
}

/* qrPopup */

.qrPopup {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 32px 24px;
    border-radius: 8px;
    background: var(--new-collors-secondary, #414141);
    color: #fff;
}

.qrPopup__p {
    margin: 0;
    font-size: 14px;
}

/* purchasePopup */

.purchasePopup {
    width: 100%;
    max-width: 360px;
}

.purchasePopup__header {
    position: relative;
    background: #565656;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 12px;
}

.purchasePopup__h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    border: none;
}

.purchasePopup__backBtn {
    position: absolute;
    left: 14px;
    font-size: 11px;
    border: none;
    padding: 0;
    padding-left: 12px;
    margin: 0;
    background-color: transparent;
    color: #C1C1C1;
}

.purchasePopup__backBtn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none"><path d="M5.69826 9.43104C5.87094 9.18437 5.8341 8.84793 5.61214 8.64446L2.44053 5.73715C2.00816 5.34082 2.00816 4.65918 2.44053 4.26285L5.61214 1.35554C5.8341 1.15207 5.87094 0.815634 5.69826 0.568964C5.48831 0.26905 5.06107 0.225371 4.79478 0.476596L0.77103 4.27261C0.352661 4.6673 0.35266 5.3327 0.771029 5.72739L4.79478 9.5234C5.06107 9.77463 5.48831 9.73095 5.69826 9.43104Z" fill="%23B6B6B6"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    height: 8px;
}


.signIn__h3,
.purchasePopup__order {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.purchasePopup__body {
    padding: 32px 14px;
    background-color: #fff;
}

.purchasePopup__body_success {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.purchasePopup__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
}

.purchasePopup__p {
    color: #7B7B7B;
    text-align: center;
    font-size: 13px;
}

.purchasePopup__btns {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 14px 32px 14px;
    background-color: #fff;
}

.purchasePopup__mainBtn {
    max-width: 115px;
}

.purchasePopup__cancelBtn {
    border: none;
    background-color: transparent;
    color: #F00917;
    font-weight: 500;
}

.purchasePopup__cancelBtn_blue {
    color: var(--new-collors-links, #142E8B);
}

.purchasePopup__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
}

.purchasePopup__row:not(:first-child) {
    margin-top: 12px;
}

.purchasePopup__item:first-child {
    flex-basis: 30%;
}

.purchasePopup__item:last-child {
    display: flex;
    justify-content: flex-end;
    flex-basis: 70%;
}

.purchasePopup__rowSign {
    color: #707070;
    font-size: 12px;
}

.purchasePopup__rowInfo {
    display: inline-block;
    font-weight: 500;
    font-size: 13px;
    color: #000;
    margin: 0;
}

.purchasePopup__stepsTimeLineCol {
    margin-top: 20px;
}


.attachedFiles {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    font-size: 11px;
}

.attachedFiles__item {
    display: flex;
    flex-direction: column;
    flex-basis: calc(33.333% - 4px);
}


.purchasePopup__returnForm {
    position: relative;
    background: linear-gradient(90.49deg, #FBAF79 0.42%, #FF8B15 100.98%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    border-bottom: 1px solid #FF8B15;
    margin-left: 24px;
    font-size: 13px;
}

.purchasePopup__returnForm::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.04178 4.0548C4 5.1087 4 6.8061 4 10.2V13.8C4 17.1939 4 18.8913 5.04178 19.9452C6.08267 21 7.75911 21 11.1111 21H12.8889C16.2409 21 17.9173 21 18.9582 19.9452C20 18.8913 20 17.1939 20 13.8V10.2C20 6.8061 20 5.1087 18.9582 4.0548C17.9173 3 16.2409 3 12.8889 3H11.1111C7.75911 3 6.08267 3 5.04178 4.0548ZM8.44444 9.525C8.26763 9.525 8.09806 9.59612 7.97304 9.7227C7.84802 9.84929 7.77778 10.021 7.77778 10.2C7.77778 10.379 7.84802 10.5507 7.97304 10.6773C8.09806 10.8039 8.26763 10.875 8.44444 10.875H15.5556C15.7324 10.875 15.9019 10.8039 16.027 10.6773C16.152 10.5507 16.2222 10.379 16.2222 10.2C16.2222 10.021 16.152 9.84929 16.027 9.7227C15.9019 9.59612 15.7324 9.525 15.5556 9.525H8.44444ZM8.44444 13.125C8.26763 13.125 8.09806 13.1961 7.97304 13.3227C7.84802 13.4493 7.77778 13.621 7.77778 13.8C7.77778 13.979 7.84802 14.1507 7.97304 14.2773C8.09806 14.4039 8.26763 14.475 8.44444 14.475H12.8889C13.0657 14.475 13.2353 14.4039 13.3603 14.2773C13.4853 14.1507 13.5556 13.979 13.5556 13.8C13.5556 13.621 13.4853 13.4493 13.3603 13.3227C13.2353 13.1961 13.0657 13.125 12.8889 13.125H8.44444Z" fill="%23414141"/></svg>');
}

.purchasePopup__status {
    margin: 0;
    padding: 4px 12px;
    border-radius: 50px;
    background: #EE9F4F;
    color: #fff;
    font-size: 13px;
}

.purchasePopup__orderPrice {
    color: #9A9A9A;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
}

.purchasePopup__orderList {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 20px;
    color: #838383;
    font-size: 12px;
}

.purchasePopup__payBtns {
    width: 100%;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding-bottom: 32px;
}

.orderControlPopup {
    padding: 20px;
    border-radius: 10px;
    background: var(--new-collors-primary-dark, #3A3A3A);
}

.orderControlPopup__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.orderControlPopup__btns {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.orderControlPopup__h3 {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.whiteStrokeBtn {
    border-radius: 8px;
    border: 1px solid #BFBFBF;
    padding: 8px 16px;
    color: #fff;
    background-color: transparent;
    transition: all .3s;
}

.whiteStrokeBtn:hover {
    background-color: #BFBFBF;
    color: #000;
}

/* mobLkNav */

.mobLkNav {
    width: 100%;
    max-width: 340px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background: var(--new-collors-primary-dark, #3A3A3A);
    padding: 8px 16px;
    border-radius: 50px;
}

.mobLkNav__btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    padding: 0;
    max-width: 32px;
    height: 24px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    overflow: hidden;
    color: #fff;
    font-size: 12px;
    transition: all .3s;
    padding: 4px 8px;

}

.mobLkNav__btn:focus {
    outline: none;
}

.mobLkNav__btn_active {
    max-width: 100%;
    background-color: #fff;
    color: #000;

}

.mobLkNav__btn svg {
    flex-shrink: 0;
}

.mobLkNav__btn_active svg path {
    stroke: #414141;
}


/* mobProfileLink */


.mobProfileLink {
    width: 100%;
    max-width: 425px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(34, 49, 86, 0.10);
}

.mobProfileLink__item_info {
    max-width: 180px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.mobProfileLink__img {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
}

.mobProfileLink__txts {
    display: flex;
    flex-direction: column;
}

.mobProfileLink__name {
    color: var(--new-collors-titles-and-subtitles, #151515);
    font-weight: 600;
    font-size: 13px;
}

.mobProfileLink__span {
    color: #868686;
    font-size: 11px;
}

.mobHeader {
    width: 100%;
    max-width: 425px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EFF3F6;
    padding: 8px 12px;
}

.mobHeader__item:first-child,
.mobHeader__item:last-child {
    flex-basis: 15%;
}

.mobHeader__item:nth-child(2) {
    flex-basis: 70%;
}

.mobHeader__h1 {
    color: var(--new-collors-primary-dark, #3A3A3A);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: none;
    margin: 0;
    padding-bottom: 0;
}

.mobHeader__item_btns {
    display: flex;
    align-items: center;
}

.mobHeader__back,
.mobHeader__btn {
    position: relative;
    border: none;
    background-color: transparent;
}

.mobHeader__btn:focus {
    outline: none;
}

.mobHeader__btn:first-child {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid #CECECE;
}

.mobHeader__count {
    position: absolute;
    right: 0;
    top: -4px;
    color: #FF3C3C;
    font-size: 11px;
}